<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="iesserpis.mati.cristian.bicididactico" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <activity android:name=".Juego"></activity>
        <activity android:name=".AcercaDe"></activity>
        <activity android:name=".SoloBici"></activity>
    </application>

</manifest>
